html, body {
  height: 100%;
  width: 100%; }

body {
  background-image: url("../images/templateImages/bg.png"); }

body, img, h3 {
  margin: 0;
  padding: 0;
  font-family: comic sans MS !important; }

.menu {
  height: 70px; }

.header {
  height: 70px;
  background-color: #4682B4;
  border: 0px; }
  .header .navbar-toggle {
    border: none;
    background-color: none; }
  .header .navbar-toggle:hover {
    background-color: #2c3e50 !important; }
  .header .navbar-toggle:focus {
    background-color: none !important; }
  .header .navbar-brand img {
    height: 140px;
    width: 140px;
    margin-top: -32px; }
  .header .navbar-collapse {
    border-color: #4682B4; }
  .header .navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white !important;
    font-size: 30px;
    background-color: #4682B4; }
  .header .navbar-nav li a:hover {
    background-color: #2c3e50 !important; }
  .header .search-field {
    position: absolute;
    top: 17px;
    right: 125px;
    z-index: 1000; }
    .header .search-field form {
      border: 2px solid #2c3e50; }
      .header .search-field form input {
        padding: 7px; }

.content-body {
  margin-top: 20px;
  min-height: 100%; }
  .content-body .left-sidebar {
    background: #fff;
    border-bottom: 10px solid #4682B4; }
    .content-body .left-sidebar .pro_pic {
      text-align: center;
      padding: 24px 27px;
      background: #4682B4; }
      .content-body .left-sidebar .pro_pic img {
        height: 150px;
        width: 150px;
        border-radius: 50%; }
      .content-body .left-sidebar .pro_pic h3 {
        color: #fff;
        margin-top: 6px; }
    .content-body .left-sidebar .view-profile {
      background: #fff;
      padding-top: 40px;
      padding-bottom: 10px; }
      .content-body .left-sidebar .view-profile button {
        background-color: rgba(44, 62, 80, 0.9);
        border: none;
        padding: 8px 10px; }
        .content-body .left-sidebar .view-profile button:hover {
          background-color: #2c3e50; }
    .content-body .left-sidebar .edit-profile {
      background: #fff;
      padding-bottom: 40px; }
      .content-body .left-sidebar .edit-profile button {
        background-color: rgba(44, 62, 80, 0.9);
        border: none;
        padding: 8px 10px; }
        .content-body .left-sidebar .edit-profile button:hover {
          background-color: #2c3e50; }
  .content-body .main-content, .content-body .user-info {
    border: 2px solid lightgrey;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px; }
    .content-body .main-content .bookup-row, .content-body .user-info .bookup-row {
      padding: 30px 30px 20px 20px; }
    .content-body .main-content .homepage-row, .content-body .user-info .homepage-row {
      padding: 20px 20px 20px 15px; }
      .content-body .main-content .homepage-row .user, .content-body .user-info .homepage-row .user {
        height: 150px;
        width: 150px; }
      .content-body .main-content .homepage-row .post-user, .content-body .user-info .homepage-row .post-user {
        height: 80px;
        width: 80px; }
    .content-body .main-content .homepage-book-row, .content-body .user-info .homepage-book-row {
      padding: 20px 20px 20px 15px; }
    .content-body .main-content .comments, .content-body .user-info .comments {
      padding: 20px 20px 20px 15px; }
      .content-body .main-content .comments li, .content-body .user-info .comments li {
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        list-style: none; }
        .content-body .main-content .comments li .fa-2x, .content-body .user-info .comments li .fa-2x {
          font-size: 1.5em; }
      .content-body .main-content .comments .user-comment-image, .content-body .user-info .comments .user-comment-image {
        height: 40px;
        width: 40px;
        border-radius: 50%; }
      .content-body .main-content .comments .comments-input, .content-body .user-info .comments .comments-input {
        margin-left: 56px;
        margin-top: -40px; }
      .content-body .main-content .comments .comments-input input, .content-body .user-info .comments .comments-input input {
        width: 80%; }
      .content-body .main-content .comments .commentators-image, .content-body .user-info .comments .commentators-image {
        height: 30px;
        width: 30px;
        border-radius: 50%; }
      .content-body .main-content .comments .user-comments, .content-body .user-info .comments .user-comments {
        margin-left: 30px; }
    .content-body .main-content hr, .content-body .user-info hr {
      border-top: 3px solid #2c3e50; }

.footer {
  background-color: #2c3e50;
  color: white !important;
  padding: 15px 0px;
  margin-top: 20px; }
  .footer hr {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px; }
  .footer ul li {
    display: inline-block;
    list-style: none;
    padding-right: 20px; }
    .footer ul li a {
      text-decoration: none;
      color: white !important; }
    .footer ul li a:hover {
      color: #31B0D5 !important; }

@media screen and (max-width: 450px) {
  [class*='col-'] {
    width: 100%; }

  .header .search-field {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1000; }
    .header .search-field form {
      border: 2px solid #2c3e50; }
      .header .search-field form input {
        padding: 7px; } }

/*# sourceMappingURL=style.css.map */
