$header: #4682B4;
$background: #bdc3c7;
$loginform: #ecf0f1;
$footer: #2c3e50;


html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url('images/templateImages/bg.png');
}

body, img, h3 {
	margin: 0;
	padding: 0;
	font-family: comic sans MS !important;
}

.wrap {
	height: 100%;
	
	.header {
	    height: 70px;
	    background-color: #4682B4;
	    border: 0px;

	    .navbar-toggle {
			border: none;
			background-color: none;
		}

		.navbar-toggle:hover {
			background-color: #4682B4;
		}

		.navbar-toggle:focus {
			background-color: none !important;
		}

	    .navbar-brand img {
		   	height: 140px; 
		   	width: 140px;  
		   	margin-top: -32px;
		}

		.navbar-collapse {
			border-color: #4682B4;
		}
		
		.navbar-nav li a {
		    padding-top: 20px;
		    padding-bottom: 20px;
		    color: white !important;
		    font-size: 25px;
		    background-color: #4682B4;
		}

	}

	.upload-content-body {

		.left-sidebar {
		    margin-top: 90px;
		    // position: fixed;
			// float: left;
			background: #fff;
			border-bottom: 10px solid $header;

			.pro_pic {
				text-align: center;
				padding: 24px 27px;
				background: #4682B4;

				img {
					height: 150px; 
					width: 150px; 
					border-radius: 50%;
				}

				h3 {
					color: #fff;
					margin-top: 6px;
				}
			}

			.top-nav {
				background: #fff;
				font-size: 0.8em;

				button {
					margin: 20% 30%;
					background-color: rgba(44, 62, 80, 0.9);
					border: none;
					padding: 8px 10px;

					&:hover {
						background-color: rgb(44, 62, 80);
					}
				}

			}
		}

		.upload-content {
		    background-color: rgba(255, 255, 255, 0.7);
			// float: right;
		    margin-top: 90px;
		    // margin-left: 10px;
		    // padding: 13px 22px 0px 22px;
		    padding: 22px;
		}

	}

	.footer {
		background-color: #2c3e50; 
		color: white !important;
		padding: 15px 0px; 
		margin-top: 20px;
	    // margin-left: -30px;
	    // margin-right: -30px;
	}
}